<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mystyle.css') }}">
    </head>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


<div class="file-upload">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">เพิ่มรูปภาพ</button>

  <div class="image-upload-wrap">
    <form action="/upload_image" method="POST" enctype="multipart/form-data">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name="image" id="image" oninput="filesize(this);" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
    <div class="image-title-wrap2">
      <button type="submit"  style="background-color:#BDA20E; border-color:red; color:white" class="remove-image">Prediction Image</span></button> 
    </div>
  </form>
  
  </div>
</div>
<br>

<div class="row"  align="center">
  <b>Example</b>
  <div class="column">
    <img src="static/img_1.png" alt="Snow" style="width:20%">
    <img src="static/img_2.png" alt="Forest" style="width:20%">
    <img src="static/img_3.png" alt="Forest" style="width:20%">
  </div>
</div>
<br>
<script>
  
  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }

    function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
});

function okUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').show();
  $('.image-upload-wrap').hide();
}
$('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
});
</script>